/* Define font-faces for Allura and Amatic SC */
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");

/* CSS files for sections */
@import url("sections/header.css");

/* Set global default styles */
:root {
    /* Fonts */
    --amatic: "Amatic SC", sans-serif;
    --allura: "Allura", cursive;
    /* Colors */
    --bella-fur-light: #AFA18Bff;
    --bella-fur-dark: #6E6652ff;
    --bella-fur-gray: #9E9E95ff;
    --bella-stomach: #BFA688ff;
    --pink: #FFC0CB;
    /* Screen widths */
    --max-phone-width: 550px;
    --max-browser-width: 1280px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bella-fur-light);
    scroll-behavior: smooth;
    margin: 0 auto;
    max-width: var(--max-browser-width);
}
